

@media screen and (max-width:750px) {

    .changeWidth{
         
      width: 100%
       
    }
  
}


@media screen and (min-width:750px) {

  .changeWidth{
       
    width: 60%
     
  }

}

@media screen and (max-width:750px) {

  .marginOnMobile{
       
     padding: 15px;
    
     
     
  }

}



.headerFont {
    
  font-family: "Lexend", serif;

}

.descFont {
  font-family: "Urbanist", sans-serif;
}